argcomplete==3.6.3
click==8.3.0
colorama==0.4.6
packaging==25.0
pipx==1.8.0
platformdirs==4.5.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.28.0
six==1.17.0
smmap==5.0.2
sqlparse==0.5.3
tenacity==9.1.2
toml==0.10.2
tornado==6.5.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
userpath==1.9.2
watchdog==6.0.0
